<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h3>Test App</h3>
        <h4>Home</h4>
        <a href="/login">Sign in</a>
        <hr>
    </header>
    <div>
        <h2>Welcome to the Test</h2>
        <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae odio quod doloremque cupiditate nulla error ducimus quibusdam similique aliquam nemo, incidunt deserunt, impedit nam delectus animi aspernatur earum modi quas.</h5>
        <a href="/register"><button>Start</button></a>
    </div>
    <div>
        <h4>Manage users</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, velit cum! Excepturi consequatur corporis consectetur hic, ratione soluta voluptate deleniti pariatur accusamus numquam nam, fuga quos, distinctio ipsa sapiente possimus.</p>
    </div>
    <div>
        <h4>Leave Messages</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, velit cum! Excepturi consequatur corporis consectetur hic, ratione soluta voluptate deleniti pariatur accusamus numquam nam, fuga quos, distinctio ipsa sapiente possimus.</p>
    </div>
    <div>
        <h4>Edit User Information</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, velit cum! Excepturi consequatur corporis consectetur hic, ratione soluta voluptate deleniti pariatur accusamus numquam nam, fuga quos, distinctio ipsa sapiente possimus.</p>
    </div>
</body>
</html>